{% extends "Prowebfase1App/barraNavegacion.html" %}
{% block content %}
    
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías</title>            <!-- Título. -->   

    
    {% load static %}


    <!-- Linkeo de los recursos estáticos. -->

    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase1App/css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase1App/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase1App/css/pag.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase1App/css/secciones.css' %}">


</head>
<body>
    
    

<h3>Categorias</h3>

<li>Servicio de Streaming</li>
<li>Descargas Ilimitadas</li>



<!-- Muestra un mensaje emergente. -->

<a onmouseover="alert('Encontraras todo tipo de contenido en esta sección, desde horror hasta acción');">Detalles</a>



<strong><h6>Categorias</h6></strong>            <!-- Título de sección. --> 


        <div class="row" id="categorias">                <!-- Sirve de contenedor para las imagenes del contenido. -->
            <div class="col row mx-0">
                <div class="col"><figure><a href="/videos"><img src="{% static 'Prowebfase1App/img/La_luz_del_espejo.jpg' %}" alt="La_luz_del_espejo"></a></figure></div>
                <div><p class="header">Series</p></div>               

            </div>

        
        </div>

  

        <div class="row" id="categorias">                <!-- Sirve de contenedor para las imagenes del contenido. -->
            <div class="col row mx-0">
                <div class="col"><figure><a href="/videos"><img src="{% static 'Prowebfase1App/img/horror_nocturno.jpg' %}" alt="horror_nocturno"></a></figure></div>
                <p class="header">Películas</p>
               

            </div>

        
        </div>



        <div class="row" id="categorias">                <!-- Sirve de contenedor para las imagenes del contenido. -->
            <div class="col row mx-0">
                <div class="col"><figure><a href="/videos"><img src="{% static 'Prowebfase1App/img/destructor_del_mar.jpg' %}" alt="destructor_del_mar"></a></figure></div>
                <p class="header">Animes</p>
               

            </div>

        
        </div>



        <div class="row" id="categorias">                <!-- Sirve de contenedor para las imagenes del contenido. -->
            <div class="col row mx-0">
                <div class="col"><figure><a href="/videos"><img src="{% static 'Prowebfase1App/img/infinito.jpg' %}" alt="infinito"></a></figure></div>
                <div><p class="header">Series</p></div>               

            </div>

        
        </div>



        <div class="row" id="categorias">                <!-- Sirve de contenedor para las imagenes del contenido. -->
            <div class="col row mx-0">
                <div class="col"><figure><a href="/videos"><img src="{% static 'Prowebfase1App/img/Cataclismo.jpg' %}" alt="Cataclismo"></a></figure></div>
                <p class="header">Películas</p>
               

            </div>

        
        </div>



        <div class="row" id="categorias">                <!-- Sirve de contenedor para las imagenes del contenido. -->
            <div class="col row mx-0">
                <div class="col"><figure><a href="/videos"><img src="{% static 'Prowebfase1App/img/Tempestad.jpg' %}" alt="Tempestad"></a></figure></div>
                <p class="header">Animes</p>
               

            </div>

        
        </div>



        <div class="row" id="categorias">                <!-- Sirve de contenedor para las imagenes del contenido. -->
            <div class="col row mx-0">
                <div class="col"><figure><a href="/videos"><img src="{% static 'Prowebfase1App/img/criaturas_del_bosque.jpg' %}" alt="criaturas_del_bosque"></a></figure></div>
                <div><p class="header">Series</p></div>               

            </div>

        
        </div>



        <div class="row" id="categorias">                <!-- Sirve de contenedor para las imagenes del contenido. -->
            <div class="col row mx-0">
                <div class="col"><figure><a href="/videos"><img src="{% static 'Prowebfase1App/img/La_Muralla.jpg' %}" alt="La_Muralla"></a></figure></div>
                <p class="header">Películas</p>
               

            </div>

        
        </div>



        <div class="row" id="categorias">                <!-- Sirve de contenedor para las imagenes del contenido. -->
            <div class="col row mx-0">
                <div class="col"><figure><a href="/videos"><img src="{% static 'Prowebfase1App/img/luces_negras.jpg' %}" alt="luces_negras"></a></figure></div>
                <p class="header">Animes</p>
               

            </div>

        
        </div>



        <div class="row" id="categorias">                <!-- Sirve de contenedor para las imagenes del contenido. -->
            <div class="col row mx-0">
                <div class="col"><figure><a href="/videos"><img src="{% static 'Prowebfase1App/img/el_bosque_en_llamas.jpg' %}" alt="el_bosque_en_llamas"></a></figure></div>
                <p class="header">Series</p>
               

            </div>

        
        </div>



        <div class="row" id="categorias">                <!-- Sirve de contenedor para las imagenes del contenido. -->
            <div class="col row mx-0">
                <div class="col"><figure><a href="/videos"><img src="{% static 'Prowebfase1App/img/Tempano.jpg' %}" alt="Tempano"></a></figure></div>
                <p class="header">Películas</p>
               

            </div>

        
        </div>



        <div class="row" id="categorias">                <!-- Sirve de contenedor para las imagenes del contenido. -->
            <div class="col row mx-0">
                <div class="col"><figure><a href="/videos"><img src="{% static 'Prowebfase1App/img/Puños_de_fuego.jpg' %}" alt="Puños_de_fuego"></a></figure></div>
                <p class="header">Animes</p>
               

            </div>

        
        </div>



</div>           
<div class="bottom-strip">
    <div class="wrapper">                         <!-- Indicación de sección-->
        <p>Series  Películas  Animes</p>
    </div>            
</div>



    <!--Inicio - Paginación de las categorias-->
    
    <div>
        <div class="NvCnAnm"><ul class="pagination"><li class="disabled"><a href="/browse?page=prev" rel="prev">&laquo;</a></li><li class="active"><a href="/browse?page=1">1</a></li><li><a href="/browse?page=2">2</a></li><li><a href="/browse?page=3">3</a></li><li><a href="/browse?page=4">4</a></li><li><a href="/browse?page=5">5</a></li><li><a href="/browse?page=6">6</a></li><li><a href="/browse?page=7">7</a></li><li><a href="/browse?page=8">8</a></li><li><a href="/browse?page=9">9</a></li><li><a href="/browse?page=10">10</a></li><li><span>&hellip;</span></li><li><a href="/browse?page=147">129</a></li><li><a href="/browse?page=next" rel="next">&raquo;</a></li></ul></div> </main></div>
    </div>  

    
    <!--Fin - Paginación de las categorias-->




</body>
</html>
    
{% endblock %}



