{% extends "Prowebfase1App/barraNavegacion.html" %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fallos Comunes</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase1App/css/styles.css' %}">

</head>
<body>


<h2 id="text_h3">Fallos Comunes</h2>



<h3 id="text_h3">No carga los videos.</h3>

<p id="text_p">Apaga el dispositivo móvil. Desconecta el módem (y el enrutador inalámbrico, si se trata de un dispositivo 
    independiente) de la alimentación eléctrica durante al menos 30 segundos. Vuelve a encender el dispositivo y 
    prueba Spafy nuevamente.</p>

<h3 id="text_h3">No despliega el modo pantalla completa.</h3>

<p id="text_p">Si Spafy no reproduce en el modo de pantalla completa en tu computadora, 
    generalmente significa que es necesario actualizar el navegador.Si al actualizar
    el navegador no se ha solucionado el problema, pruebe eliminar la cache del navegador 
    y recargue la página nuevamente.
</p>


<h3 id="text_h3">El contenido tarda en cargarse.</h3>

<p id="text_p">
    Si tu conexión a internet no es lo suficientemente potente para ver Spafy, 
    puedes poner la configuración de uso de datos en modo automático, para que ajuste de forma automática
    la mayor calidad posible del contenido, en función de la velocidad de conexión.
</p>


<h3 id="text_h3">No se descarga el contenido multimedia.</h3>

<p id="text_p">
    Asegúrate de que tienes el servicio Spafy actualizado a su última versión. Haz lo mismo con tu dispositivo. Para poder descargar contenido, tienes que contar con:

    <li>Una conexión a internet.</li> 
    <li>Una cuenta de Spafy activa para streaming.</li>   
    <li>Un iPhone, iPad o iPod touch con iOS 9.0 o versiones posteriores.</li>   
    <li>Un teléfono o tableta con Android 4.4.2 o versiones posteriores.</li>   
    <li>Una tableta o computadora con Windows 10 1607 (Anniversary Update) o una versión posterior.</li>   
    <li>La versión más reciente de la aplicación de Spafy para iOS de Apple, Android o Windows 10.</li>
</p>

<h3 id="text_h3">Las películas,animes o series no aparecen en el menú de búsqueda.</h3>

<p id="text_p">
    Si viajas fuera de tu país, puedes encontrarte con que la serie que estás viendo no está disponible. 
    Esto se debe a que Spafy restringe el acceso a su programación según el país al que esté vinculada tu cuenta.
    Para conectarte desde tu país aun no estando en él, puedes utilizar una VPN o red privada virtual.

    Cuando hagas una búsqueda, ten en cuenta que:

    <li>Si buscas alguna película,serie o animes y no está disponible, Spafy te sugerirá títulos similares que puedan gustarte.</li>
    <li>Si utilizas un criterio muy amplio, Spafy te sugerirá personas, géneros o directores relacionados.</li>
    <li>A veces Spafy te muestra una contenido que no cuenta con botón de reproducción y esto es porque no está aún disponible.</li>
</p>


<h3 id="text_h3">Pantalla negra con o sin sonido.</h3>

<p>

    <li>Si ves una pantalla negra sin sonido, hay varias posibilidades.</li>
    <li>Puedes intentar regresar a la página anterior e intentar volver a reproducir la serie o película.</li>    
    <li>Otra opción que quizás lo resuelva es limpiando el caché o borrando las cookies de Spafy.</li>    
    <li>Si estás utilizando Google Chrome, puedes probar a desactivar las extensiones.</li>    
    <li>Si te has encontrado este problema en tu iPhone o iPad, Spafy te recomienda que reinstales la aplicación o que reinicies el dispositivo.</li>    

</p>



</body>
</html>

{% endblock %}







