
{% extends "Prowebfase1App/barraNavegacion.html" %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase1App/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase1App/css/reporte.css' %}">

</head>
<body>
        
        <!-- Inicio reporte. -->
    
    <form name="reporte_problema" action="/formularioExitoso"  method="POST" onsubmit="return R_invalido()">{% csrf_token %}
        <h2>Reporte</h2>

        <div class="row">
            <label>Tipo</label>
            <select name="tipo">
                <option>Ninguno</option>
                <option>Error</option>
                <option>Usuario</option>          
            </select> 
            <div class="error" id="tipo_invalido"></div>
        </div>

        
        <div class="row">
            <label>Motivo</label>
            <select name="motivo">
                <option>Ninguno</option>
                <option>Acoso</option>
                <option>Spam</option>
                <option>Extorsión</option>
                <option>Sabotaje</option>
                <option>Infracción de los términos de servicio</option>
                <option>No reproduce los videos</option>
                <option>No es el contenido multimedia correcto</option>
                <option>Problemas de audio</option>
                <option>Problemas con los subtítulos</option>
                
            </select> 
            <div class="error" id="motivo_invalido"></div>
        </div>
    
        <div class="row">
          <label>Describa lo sucedido</label>
          <input type="text" name="info">
          <div class="error" id="info_invalido"></div>
        </div>
    
        <div class="row">
            <label>Fecha y hora del incidente</label>
            <input type="datetime" name="fecha_hora">
            <div class="error" id="fecha_hora_invalido"></div>
        </div>
       
    
             
        <div class="row">
            <input type="submit" value="Enviar Reporte">
        </div>
    
        <div class="row">
            <input type="reset" value="Borrar">
        </div>
    
    </form>
    
      
    <!-- Fin reporte. -->
    


</body>
</html>




{% endblock %}

