{% extends "Prowebfase4App/barraNavegacion.html" %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>           <!-- Título -->

    {% load static %}


    <!-- Linkeo de los recursos estáticos. -->

    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase4App/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase4App/css/reporte.css' %}">
    <script type="text/javascript" src="{% static 'Prowebfase4App/js/validacionFServicios.js' %}"></script>

</head>
<body>



<!-- Inicio formulario de solicitud. -->

<form name="solicitud" action="/formularioExitoso"  method="POST" onsubmit="return R_invalido()">{% csrf_token %}
    <h2>Solicitud de Servicio</h2>
    <div class="row">
        <label>Usuario</label>
        <input type="text" name="Usuario">
        <div class="error" id="Usuario_invalido"></div>
    </div>

    <div class="row">
      <label>Clave especial de usuario</label>
      <input type="password" name="Clave" maxlength="11">
      <div class="error" id="Clave_invalido"></div>
    </div>

    <div class="row">
        <label>Correo Electrónico</label>
        <input type="email" name="C_electronico">
        <div class="error" id="C_invalido"></div>
    </div>
   
    <div class="row">
        <label>Locación</label>
        <select name="Locacion">
            <option>Ninguna</option>
            <option>Europa</option>
            <option>América</option>
            <option>Asia</option>
            <option>Africa</option>
        </select> 
        <div class="error" id="Locacion_invalido"></div>
    </div>

    <div class="row">
        <label>Servicio</label>
        <div class="form-inline">
            <label><input type="checkbox" name="Servicio" value="plan">HD</label>
            <label><input type="checkbox" name="Servicio" value="plan">FullHD</label> 
            <label><input type="checkbox" name="Servicio" value="plan">HD+</label> 
            <label><input type="checkbox" name="Servicio" value="plan">Lowcost</label> 

        </div>

    </div>
         
    <div class="row">
        <input type="submit" value="Solicitar">
    </div>

    <div class="row">
        <input type="reset" value="Borrar">
    </div>

</form>



<!-- Fin formulario de solicitud. -->



</body>
</html>

{% endblock %}
