{% extends "Prowebfase4App/barraNavegacion.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %} 


    <title>Video</title>
</head>
<body>
    
    <video controls="controls" src="{% static 'Prowebfase4App/media/burstbattle.mp4' %}">
      
    </video>


    <script>
        document.querySelector('html').onclick = function() {
        alert('El contenido multimedia estará disponible en breves instantes');
    }
    </script>




</body>
</html>


{% endblock %}

