img{margin-left: 80px;margin-bottom:20px;border-radius: 1.6%}         
p{text-align:center;font-size: 30px;margin-top: -10px;}
h6{font-size: 30px;text-align: center;margin-bottom: 100px;}
div[id="categorias"]{float: left;margin-bottom: 20px;margin-top: 20px;}
address{margin-top: auto;}
div[id="fs"]{width: 100%;margin-top: 9%;}
div[id="categorias_serv"]{float: left;margin-bottom: 20px;margin-top: 80px;}
img[id="none"]{margin: 0;}
address{margin-top: 100px;margin-left: 15px;}
.card[id="card"]{max-width: 13rem; margin: 10px; float: left;min-width: 31.7%}














    






