<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoLinks</title>     <!-- Información acerca del servicio. -->

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase2App/css/styles.css' %}">

</head>
<body>
    


<h3 id="text_h3">Nuestra Historia</h3>

<p id="text_p">

Spafy enterprise, es una empresa líder de entretenimiento en el área de Streaming.Nuestro servicio ofrece
series, películas, y animes producidos en los estudios Spafy.Nuestro servicio se basa en un enfoque de calidad
centrado en satisfacer las necesidades de nuestros usuarios.

</p>



<h3 id="text_h3">Términos de uso</h3>

<p id="text_p">

Spafy brinda un servicio de suscripción personalizado que permite a nuestros miembros acceder a contenido de entretenimiento (el “contenido de Spafy”) a través de internet en ciertas TV, computadoras y otros dispositivos conectados a internet (“dispositivos listos para Spafy”).

Los presentes Términos de uso rigen la utilización que haga de nuestro servicio:

<li>Su membresía de Spafy continuará hasta que la cancele. Para usar el servicio de Spafy, debe tener acceso a internet y un dispositivo listo para Spafy, y proporcionar una o más Formas de pago. “Forma de pago” significa una forma de pago actual, válida y aceptada, que pueda actualizarse periódicamente y que admita pagos a través de terceros. A menos que cancele su membresía antes de la fecha de facturación, nos autoriza a cobrarle la membresía del siguiente ciclo de facturación a su Forma de pago.</li>    

<li>Debe tener, al menos, 18 años de edad, o la mayoría de edad en su provincia, territorio o país, para ser miembro del servicio de Spafy. Los menores solamente pueden usar el servicio bajo la supervisión de un adulto.</li>    

<li>El servicio de Spafy y todo el contenido al que se accede en él son solo para uso personal, no comercial, y no debe compartirse con personas que no sean miembros de su hogar.</li>

<li>Spafy actualiza el servicio continuamente, incluido su catálogo de contenido. Además, probamos regularmente varios aspectos de nuestro servicio, tales como nuestros sitios web, las interfaces de usuario, las funciones promocionales y la disponibilidad de contenido de Spafy.</li>

<li>Parte del contenido de Spafy está disponible para descarga temporal y visualización offline en ciertos dispositivos compatible. Se aplican restricciones, incluidas las restricciones a la cantidad de contenido por cada cuenta.</li>

<li>Acepta usar el servicio de Spafy, incluidas todas las características y funcionalidades asociadas con éste, en conformidad con todas las leyes, normas y reglamentaciones vigentes, o cualquier otra restricción al uso del servicio o sus contenidos.</li>

<li>La calidad de la imagen del contenido de Spafy puede variar de dispositivo a dispositivo y puede verse afectada por diversos factores, tales como la ubicación, el ancho de banda disponible o la velocidad de la conexión a internet.</li>


</p>



<h3 id="text_h3">Privacidad</h3>

<p id="text_p">

El objetivo de esta Política de Privacidad es informarte sobre qué datos recogemos, por qué los recogemos y cómo puedes actualizarlos y gestionarlos.

</p>




</body>
</html>