{% extends "Prowebfase2App/barraNavegacion.html" %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spafy</title>            <!--Título-->           

    
    {% load static %}

    <!-- Linkeo de los recursos estáticos. -->

    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase2App/css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase2App/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase2App/css/secciones.css' %}">
    

</head>
<body>
    

<h1>Spafy - Plataforma de Servicios Multimedia</h1>


<h3>Nuestros Servicios</h3>

<li>Servicio de Streaming</li>
<li>Descargas Ilimitadas</li>



<hr>    <!-- linea separatoria -->



<h3>Equipos compatibles con el servicio</h3>

<li>iOS</li>
<li>Android</li>
<li>o Windows 10</li>



<hr>     <!-- linea separatoria -->


<h3>Planes y Ofertas</h3>

<li>FullHD</li>
<li>HD+</li>
<li>HD</li>
<li>Low cost</li>


<hr>     <!-- linea separatoria -->



<!-- Inicio categorias -->


<link rel="stylesheet" type="text/css" href="{% static 'Prowebfase2App/css/secciones.css' %}">

<strong><h6>Categorias</h6></strong>


        <div class="row" id="categorias">                <!-- Sirve de contenedor para las imagenes del contenido. --> 
            <div class="col row mx-0">
                <div class="col"><figure><a href="/categorias"><img src="{% static 'Prowebfase2App/img/Series.jpg' %}" alt="Series"></a></figure></div>
                <div><p class="header">Series</p></div>               

            </div>

        
        </div>


        
        <div class="row" id="categorias">                <!-- Sirve de contenedor para las imagenes del contenido. --> 
            <div class="col row mx-0">
                <div class="col"><figure><a href="/categorias"><img src="{% static 'Prowebfase2App/img/Peliculas.jpg' %}" alt="Peliculas"></a></figure></div>
                <p class="header">Películas</p>
               

            </div>

        
        </div>



        <div class="row" id="categorias">                <!-- Sirve de contenedor para las imagenes del contenido. --> 
            <div class="col row mx-0">
                <div class="col"><figure><a href="/categorias"><img src="{% static 'Prowebfase2App/img/Animes.jpg' %}" alt="Animes"></a></figure></div>
                <p class="header">Animes</p>
               

            </div>

        
        </div>



        <p>                 <!-- imagen. --> 

            <a><img src="{% static 'Prowebfase2App/img/saviku.jpg' %}" alt="más" width= 100% height="130px" id="none"></a>

        </p>



      <h4>Para más información</h4>      <!-- Direción (información). --> 

      <address>
         
         <strong>Contactanos:</strong>   <a href="mailto:serviciosspafy@gmail.com">serviciosspafy@gmail.com</a>.<br> 
          Oficina Postal 137, Caracas, Venezuela
      </address>




    <!--Footer-->

    <div class="footer">
        <div class="appeal">
            <div class="wrapper">
                <p>Explora más</p>
            </div>
        </div>
        <div class="footer-inner">
            <div class="wrapper clearfix">                
                <div class="link-box">
                    <h4>About Us</h4>
                    <div class="clearfix">
                        <a href="/infoLinks">Nuestra Historia</a>                    
                        <a href="/infoLinks">Terminos de uso</a>
                        <a href="/infoLinks">Política de la Empresa</a>
                    </div>
                </div>
                <div class="link-box">
                    <h4>Soporte</h4>
                    <div class="clearfix">                  
                        <a href="/reportar"> Reportar Error</a>
                        <a href="/fallosComunes">Fallos Comunes</a>   
                        <a href="/reportar">Reportar un usuario</a>                 
                    </div>
                </div>


                <div class="tool-box">
                    <h4>Servicios</h4>
                    <div class="clearfix">
                        <a href="/servicios">Streaming</a>                    
                        <a href="/servicios">Descargas</a>
                        <a href="/servicios">HD+</a> 
                        <a href="/servicios">FullHD</a> 
                        <a href="/servicios">HD</a>     
                        <a href="/servicios">Lowcost</a>                    
                                     
                    </div>
                </div>
                
                
            </div>
        </div>           
            <div class="bottom-strip">
            <div class="wrapper">
                <div class="notice">Copyright &copy; 2022 Spafy Enterprise. Todos los derechos reservados.</div>
            </div>            
        </div>

        <!--fin del Footer-->



</body>
</html>



{% endblock %}






