{% extends "Prowebfase3App/barraNavegacion.html" %}
{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Animes</title>           <!--Título-->

    {% load static %}
    
    
    <!-- Linkeo de los recursos estáticos. -->
   
    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase3App/css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase3App/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase3App/css/pag.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase3App/css/secciones.css' %}">
   

</head>
<body>


<h3>Categorias</h3>

<li>Servicio de Streaming</li>
<li>Descargas Ilimitadas</li>

   
 <!-- Muestra un mensaje emergente. -->

<a onmouseover="alert('Encontraras todo tipo de contenido en esta sección, desde horror hasta acción');">Detalles</a>




<strong><h6>Categorias</h6></strong>         <!-- Título de sección. -->    


      

        <figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->             

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/destructor_del_mar.jpg' %}" class="figure-img img-fluid rounded" alt="destructor_del_mar"></a>
            <figcaption class="figure-caption text-end">Animes</figcaption>

        </figure>


        <figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/Tempestad.jpg' %}" class="figure-img img-fluid rounded" alt="Tempestad"></a>
            <figcaption class="figure-caption text-end">Animes</figcaption>

        </figure>



        <figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/Quimeras.jpg' %}" class="figure-img img-fluid rounded" alt="Quimeras"></a>
            <figcaption class="figure-caption text-end">Animes</figcaption>

        </figure>


        <figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/luces_negras.jpg' %}" class="figure-img img-fluid rounded" alt="luces_negras"></a>
            <figcaption class="figure-caption text-end">Animes</figcaption>

        </figure>

  

        <figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/Puños_de_fuego.jpg' %}" class="figure-img img-fluid rounded" alt="Puños_de_fuego"></a>
            <figcaption class="figure-caption text-end">Animes</figcaption>

        </figure>


        <figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/El_maestro_del_trueno.jpg' %}" class="figure-img img-fluid rounded" alt="El_maestro_del_trueno"></a>
            <figcaption class="figure-caption text-end">Animes</figcaption>

        </figure>



        <figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/Bosque_salvaje.jpg' %}" class="figure-img img-fluid rounded" alt="Bosque_salvaje"></a>
            <figcaption class="figure-caption text-end">Animes</figcaption>

        </figure>


        <figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/Dimension.jpg' %}" class="figure-img img-fluid rounded" alt="Dimension"></a>
            <figcaption class="figure-caption text-end">Animes</figcaption>

        </figure>


        <figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/Alados.jpg' %}" class="figure-img img-fluid rounded" alt="Alados"></a>
            <figcaption class="figure-caption text-end">Animes</figcaption>

        </figure>


        <figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/Lunicor.jpg' %}" class="figure-img img-fluid rounded" alt="Lunicor"></a>
            <figcaption class="figure-caption text-end">Animes</figcaption>

        </figure>



        <figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/tigres_del_coliseo.jpg' %}" class="figure-img img-fluid rounded" alt="tigres_del_coliseo"></a>
            <figcaption class="figure-caption text-end">Animes</figcaption>

        </figure>


        <figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/caballeros_del_castillo.jpg' %}" class="figure-img img-fluid rounded" alt="caballeros_del_castillo"></a>
            <figcaption class="figure-caption text-end">Animes</figcaption>

        </figure>




    <!--Inicio - Paginación de las categorias-->


        <nav aria-label="pagination">
            <ul class="pagination pagination-sm">
              <li class="page-item active" aria-current="page">
                <span class="page-link">1</span>
              </li>
              <li class="page-item"><a class="page-link" href="/categorias2">2</a></li>
              <li class="page-item"><a class="page-link" href="/categorias3">3</a></li>
              <li class="page-item"><a class="page-link" href="/categorias4">4</a></li>
              <li class="page-item"><a class="page-link" href="/categorias5">5</a></li>
              <li class="page-item"><a class="page-link" href="/categorias6">6</a></li>
              <li class="page-item"><a class="page-link" href="/categorias7">7</a></li>
              <li class="page-item"><a class="page-link" href="/categorias8">8</a></li>
              <li class="page-item"><a class="page-link" href="/categorias9">9</a></li>
              <li class="page-item"><a class="page-link" href="/categorias10">10</a></li>
            </ul>
          </nav>



    <!--Fin - Paginación de las categorias-->
  





</div>           
<div class="bottom-strip">          
    <div class="wrapper">
        <p>Animes</p>                    <!-- Indicación de sección-->
    </div>            
</div>




{% endblock %}









