{% extends "Prowebfase3App/barraNavegacion.html" %}
{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías</title>            <!-- Título. -->   

    
    {% load static %}


    <!-- Linkeo de los recursos estáticos. -->

    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase3App/css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase3App/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase3App/css/pag.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase3App/css/secciones.css' %}">


</head>
<body>


<h3>Categorias</h3>

<li>Servicio de Streaming</li>
<li>Descargas Ilimitadas</li>



<!-- Muestra un mensaje emergente. -->

<a onmouseover="alert('Encontraras todo tipo de contenido en esta sección, desde horror hasta acción');">Detalles</a>



<strong><h6>Categorias</h6></strong>              <!-- Título de sección. -->    



<figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->             

    <a href="/videos"><img src="{% static 'Prowebfase3App/img/La_luz_del_espejo.jpg' %}" class="figure-img img-fluid rounded" alt="La_luz_del_espejo"></a>
    <figcaption class="figure-caption text-end">Series</figcaption>

</figure>


<figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

    <a href="/videos"><img src="{% static 'Prowebfase3App/img/horror_nocturno.jpg' %}" class="figure-img img-fluid rounded" alt="horror_nocturno"></a>
    <figcaption class="figure-caption text-end">Películas</figcaption>

</figure>



<figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

    <a href="/videos"><img src="{% static 'Prowebfase3App/img/destructor_del_mar.jpg' %}" class="figure-img img-fluid rounded" alt="destructor_del_mar"></a>
    <figcaption class="figure-caption text-end">Animes</figcaption>

</figure>


<figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

    <a href="/videos"><img src="{% static 'Prowebfase3App/img/infinito.jpg' %}" class="figure-img img-fluid rounded" alt="infinito"></a>
    <figcaption class="figure-caption text-end">Series</figcaption>

</figure>



<figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

    <a href="/videos"><img src="{% static 'Prowebfase3App/img/Cataclismo.jpg' %}" class="figure-img img-fluid rounded" alt="Cataclismo"></a>
    <figcaption class="figure-caption text-end">Películas</figcaption>

</figure>


<figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

    <a href="/videos"><img src="{% static 'Prowebfase3App/img/Tempestad.jpg' %}" class="figure-img img-fluid rounded" alt="Tempestad"></a>
    <figcaption class="figure-caption text-end">Animes</figcaption>

</figure>



<figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

    <a href="/videos"><img src="{% static 'Prowebfase3App/img/criaturas_del_bosque.jpg' %}" class="figure-img img-fluid rounded" alt="criaturas_del_bosque></a>
    <figcaption class="figure-caption text-end">Series/figcaption>

</figure>


<figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

    <a href="/videos"><img src="{% static 'Prowebfase3App/img/La_Muralla.jpg' %}" class="figure-img img-fluid rounded" alt="La_Muralla"></a>
    <figcaption class="figure-caption text-end">Películas</figcaption>

</figure>


<figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

    <a href="/videos"><img src="{% static 'Prowebfase3App/img/luces_negras.jpg' %}" class="figure-img img-fluid rounded" alt="luces_negras"></a>
    <figcaption class="figure-caption text-end">Animes</figcaption>

</figure>


<figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

    <a href="/videos"><img src="{% static 'Prowebfase3App/img/el_bosque_en_llamas.jpg' %}" class="figure-img img-fluid rounded" alt="el_bosque_en_llamas"></a>
    <figcaption class="figure-caption text-end">Series</figcaption>

</figure>



<figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

    <a href="/videos"><img src="{% static 'Prowebfase3App/img/Tempano.jpg' %}" class="figure-img img-fluid rounded" alt="Tempano"></a>
    <figcaption class="figure-caption text-end">Películas</figcaption>

</figure>


<figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

    <a href="/videos"><img src="{% static 'Prowebfase3App/img/Puños_de_fuego.jpg' %}" class="figure-img img-fluid rounded" alt="Puños_de_fuego"></a>
    <figcaption class="figure-caption text-end">Animes</figcaption>

</figure>



  <!--Inicio - Paginación de las categorias-->

        <nav aria-label="pagination">
            <ul class="pagination pagination-sm">
              <li class="page-item active" aria-current="page">
                <span class="page-link">1</span>
              </li>
              <li class="page-item"><a class="page-link" href="/categorias2">2</a></li>
              <li class="page-item"><a class="page-link" href="/categorias3">3</a></li>
              <li class="page-item"><a class="page-link" href="/categorias4">4</a></li>
              <li class="page-item"><a class="page-link" href="/categorias5">5</a></li>
              <li class="page-item"><a class="page-link" href="/categorias6">6</a></li>
              <li class="page-item"><a class="page-link" href="/categorias7">7</a></li>
              <li class="page-item"><a class="page-link" href="/categorias8">8</a></li>
              <li class="page-item"><a class="page-link" href="/categorias9">9</a></li>
              <li class="page-item"><a class="page-link" href="/categorias10">10</a></li>
            </ul>
          </nav>


  <!--Fin - Paginación de las categorias-->



</div>           
<div class="bottom-strip">
    <div class="wrapper">                           <!-- Indicación de sección-->
        <p>Series Películas Animes</p>
    </div>            
</div>



</body>
</html>

{% endblock %}









