{% extends "Prowebfase3App/barraNavegacion.html" %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Series</title>           <!--Título-->

    
    {% load static %}

    <!-- Linkeo de los recursos estáticos. -->

    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase3App/css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase3App/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase3App/css/pag.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Prowebfase3App/css/secciones.css' %}">
    
</head>
<body>


<h3>Categorias</h3>

<li>Servicio de Streaming</li>
<li>Descargas Ilimitadas</li>




    <!-- Muestra un mensaje emergente. -->

<a onmouseover="alert('Encontraras todo tipo de contenido en esta sección, desde horror hasta acción');">Detalles</a>




<strong><h6>Categorias</h6></strong>            <!-- Título de sección. -->   


      

        <figure class="figure">              <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/la_casa.jpg' %}" class="figure-img img-fluid rounded" alt="la_casa"></a>
            <figcaption class="figure-caption text-end">Series</figcaption>

        </figure>


        <figure class="figure">                  <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/lobos_negros.jpg' %}" class="figure-img img-fluid rounded" alt="lobos_negros"></a>
            <figcaption class="figure-caption text-end">Series</figcaption>

        </figure>



        <figure class="figure">                  <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/hijos_del_sol.jpg' %}" class="figure-img img-fluid rounded" alt="hijos_del_sol"></a>
            <figcaption class="figure-caption text-end">Series</figcaption>

        </figure>


        <figure class="figure">                  <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/la_noche_eterna.jpg' %}" class="figure-img img-fluid rounded" alt="la_noche_eterna"></a>
            <figcaption class="figure-caption text-end">Series</figcaption>

        </figure>

  

        <figure class="figure">                  <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/nebulosa_gris.jpg' %}" class="figure-img img-fluid rounded" alt="nebulosa_gris"></a>
            <figcaption class="figure-caption text-end">Series</figcaption>

        </figure>


        <figure class="figure">                  <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/Parasitos.jpg' %}" class="figure-img img-fluid rounded" alt="Parásitos"></a>
            <figcaption class="figure-caption text-end">Series</figcaption>

        </figure>



        <figure class="figure">                   <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/el_bosque_en_llamas.jpg' %}" class="figure-img img-fluid rounded" alt="el_bosque_en_llamas"></a>
            <figcaption class="figure-caption text-end">Series</figcaption>

        </figure>


        <figure class="figure">                    <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/criaturas_del_bosque.jpg' %}" class="figure-img img-fluid rounded" alt="criaturas_del_bosque"></a>
            <figcaption class="figure-caption text-end">Series</figcaption>

        </figure>


        <figure class="figure">                     <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/el_legado.jpg' %}" class="figure-img img-fluid rounded" alt="el_legado"></a>
            <figcaption class="figure-caption text-end">Series</figcaption>

        </figure>


        <figure class="figure">                     <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/la_mirada.jpg' %}" class="figure-img img-fluid rounded" alt="la_mirada"></a>
            <figcaption class="figure-caption text-end">Series</figcaption>

        </figure>



        <figure class="figure">                      <!-- Sirve de contenedor para las imagenes del contenido. -->

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/La_luz_del_espejo.jpg' %}" class="figure-img img-fluid rounded" alt="La_luz_del_espejo"></a>
            <figcaption class="figure-caption text-end">Series</figcaption>

        </figure>


        <figure class="figure">                      <!-- Sirve de contenedor para las imagenes del contenido. -->                         

            <a href="/videos"><img src="{% static 'Prowebfase3App/img/infinito.jpg' %}" class="figure-img img-fluid rounded" alt="infinito"></a>
            <figcaption class="figure-caption text-end">Series</figcaption>

        </figure>





  <!--Inicio - Paginación de las categorias-->

        <nav aria-label="pagination">
            <ul class="pagination pagination-sm">
              <li class="page-item active" aria-current="page">
                <span class="page-link">1</span>
              </li>
              <li class="page-item"><a class="page-link" href="/categorias2">2</a></li>
              <li class="page-item"><a class="page-link" href="/categorias3">3</a></li>
              <li class="page-item"><a class="page-link" href="/categorias4">4</a></li>
              <li class="page-item"><a class="page-link" href="/categorias5">5</a></li>
              <li class="page-item"><a class="page-link" href="/categorias6">6</a></li>
              <li class="page-item"><a class="page-link" href="/categorias7">7</a></li>
              <li class="page-item"><a class="page-link" href="/categorias8">8</a></li>
              <li class="page-item"><a class="page-link" href="/categorias9">9</a></li>
              <li class="page-item"><a class="page-link" href="/categorias10">10</a></li>
            </ul>
          </nav>
        

          
  <!--Fin - Paginación de las categorias-->




</div>           
<div class="bottom-strip">
    <div class="wrapper">           <!-- Indicación de sección-->
        <p>Series</p>
    </div>            
</div>



</body>
</html>

{% endblock %}









